/.anaconda
/.astropy
/.bashrc
/.bash_history
/.bash_profile
/.cisco
/.conda
/.condarc
/.continuum
/.gitconfig
/.matplotlib
/.spyder-py3
/.ssh
/.vscode
/anaconda3
/ansel
/AppData
/case1.png
/case2.png
/case3.png
/Contacts
/Creative Cloud Files Personal Account tyleryuen5@gmail.com F4317B33595534E40A495D55@AdobeID
/curseforge
/Documents
/Downloads
/Favorites
/h100.png
/h120.png
/h140.png
/h160.png
/h60.png
/h80.png
/ISSAPI1.py
/Links
/Music
/N1.0.png
/n1.4.png
/n1.6.png
/n1.8.png
/N1.png
/N11.png
/n2.0.png
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{a2332f17-cdbf-11ec-8680-002248483d79}.TxR.0.regtrans-ms
/NTUSER.DAT{a2332f17-cdbf-11ec-8680-002248483d79}.TxR.1.regtrans-ms
/NTUSER.DAT{a2332f17-cdbf-11ec-8680-002248483d79}.TxR.2.regtrans-ms
/NTUSER.DAT{a2332f17-cdbf-11ec-8680-002248483d79}.TxR.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/output.pdf
/page0.jpg
/page1.jpg
/page2.jpg
/page3.jpg
/page4.jpg
/page5.jpg
/poppler-24.02.0
/Saved Games
/Searches
/spotipy.py
/systemtest.py
/t11.png
/t5.png
/t7.png
/t9.png
/Videos
/Cookies
/Application Data
/NetHood
/My Documents
/SendTo
/Start Menu
/PrintHood
/Recent
/Local Settings
/Templates